<div class="jumbotron">
    <h1>Omaha.Web</h1>
    <p class="lead">Omaha is a Insurance Domain Web applications using HTML, CSS, and JavaScript.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Omaha is a platform for various Insurers to Log, Track and Claim their insurances across various Insurance companies.</p>
    </div>
    <div class="col-md-4">
        <h2>Get More Information</h2>
        <p>Omaha provides tools and services to various Insurance vendors and partners to track, update various claims and 
		provide a simple mechanism for all the involved members to keep updated about the progress of the claims</p>
    </div>
    <div class="col-md-4">
        <h2>Explore</h2>
        <p>You can easily find a simple solution to begin your insurance claim.</p>
    </div>
</div>
